{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %}
<title>LOGIN</title>
{% endblock %}
{% block conteudo %}
<h1 class="centro">Login:</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    {{ form.username | add_class:"form-control"}}
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    {{ form.password| add_class:"form-control"}}
  </div>
  <div class="form-group form-check">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}