{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}

<title>Cadastro</title>

{% endblock %}

{% block conteudo %}
<h1>Cadastro:</h1>
 <form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Username:</label>
    {{ form.username | add_class:"form-control"}}
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha:</label>
    {{ form.password1 | add_class:"form-control"}}
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Confirmar senha:</label>
    {{ form.password2 | add_class:"form-control"}}
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

{% endblock %}