{% extends "base.html" %}
{% load static %}
{% block title %}
<title>INFO</title>
{% endblock %}

{% block conteudo %}
<h1 class="text-center">Últimos cadastrados:</h1>
<div class="row">
  {% for produto in produto %}
    <div class="col-md-4 col-12">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top img-fluid" src="/media/{{produto.imagem}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{produto.nome}}</h4>
            <p class="card-text">{{produto.tipo}}</p>
            <h5 class="card-title">R$ {{produto.preco}}</h5>
            <a href="{% url 'produtoespecifico' produto.id %}" class="btn btn-primary">Ver detalhes</a>
          </div>
      </div>
    </div>
    {% empty %}
    <div class="col-12">
        <h1>Nenhum produto cadastrado</h1>
    </div>
      {% endfor%}
  </div>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
{% endblock %}