{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
<title>Cadastrar Produto</title>

{% endblock %}

{% block conteudo %}
<h1 class="mt-12 mb-12">Produto</h1>

   <hr />

    <div class="row">
      <div class="col-lg-12 mb-12">

      <h3>Cadastro:</h3>
          
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="control-group form-group">
            <div class="controls">
              {{form.nome.label}}: {{form.nome | add_class:"form-control"}} 
              <p class="help-block"></p>
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
              {{form.preco.label}}: {{form.preco | add_class:"form-control"}} 
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
              {{form.descricao.label}}:
              <textarea class="form-control" {{form.descricao | add_class:"form-control"}} </textarea>
            </div>
          </div>

           <div class="control-group form-group">
            <div class="controls">
              {{form.quantidade.label}}: {{form.quantidade | add_class:"form-control"}} 
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
              {{form.imagem.label}}: {{form.imagem | add_class:"form-control"}} 
            </div>
          </div>


          <div class="control-group form-group">
            {{form.tipo.label}}: {{form.tipo | add_class:"form-control"}} 
          </div>

          <br />
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Cadastrar Produto</button>
        </form>




      </div>
    </div>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

{% endblock %}